.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

@font-face {
	font-family: GothamBold;
	src: url(/fonts/Gotham-Bold.woff);
}

@font-face {
	font-family: GothamBook;
	src: url(/fonts/Gotham-Book.woff);
}

* {
	font-family: GothamBook;
	box-sizing: border-box;
}

a:not('.download-link-inline') {
	text-decoration: none !important;
	color: #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transition: color 0.3s linear;
	    -o-transition: color 0.3s linear;
	    -ms-transition: color 0.3s linear;
	    -moz-transition: color 0.3s linear;
	    -webkit-transition: color 0.3s linear;
}

a, a:hover, a:focus {
	cursor: pointer;
	text-decoration: none;
}

hr {
	width: 40%;
	border: none;
	height: 1px;
	color: #b53969;
	background-color: #b53969;
	margin-top: 40px;
	margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	color: #b53969;
}

body {
	margin: 0 auto;
	padding: 0px;
	max-width: 1200px;
	background-color: #fbdedc;
}

button {
	height: 3.5em;
	width: 13.5em;
	padding: 0.5em;
	cursor: pointer;
	letter-spacing: 1px;
	color: #ffffff;
	background-color:  #e04a46;
	border: 1px solid  #e04a46;
	border-radius: 100px;
	outline: none;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
	transition: all 0.1s ease-in;
		-o-transition: all 0.1s ease-in;
		-ms-transition: all 0.1s ease-in;
		-moz-transition: all 0.1s ease-in;
		-webkit-transition: all 0.1s ease-in;
}

button:hover, button:active, button:focus {
	border-color: #ffffff;
	color: #000000;
	background-color: #ffffff;
	outline: none;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
}

nav {
	height: 60px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

nav > div {
	height: 100%;
	padding: 30px 50px;
}

nav .nav-menu {
	height: 100%;
	text-align: center;
}

nav .sm-nav-menu {
	display: none;
	z-index: 1;
}

nav .sm-menu, nav .sm-menu-close {
	display: none;
	float: left;
	height: 100%;
	cursor: pointer;
}

nav .sm-menu img, nav .sm-menu-close img {
	height: 16px;
	width: auto;
	margin: 15px;
}

nav .sm-menu-close img {
	margin-right: 25px;
	position: relative;
}

nav ul {
	list-style: none;
	margin: 15px;
}

nav ul li {
	display: inline-block;
	margin: 0px 15px;
	cursor: pointer;
}

nav ul li a {
	color: #646464;
	letter-spacing: 3px;
	font-size: 14px;
}

nav ul li a:hover {
	color: #000000;
	transition: all 0.1s ease-in;
		-o-transition: all 0.1s ease-in;
		-ms-transition: all 0.1s ease-in;
		-moz-transition: all 0.1s ease-in;
		-webkit-transition: all 0.1s ease-in;
}

@media (max-width: 991px) {
	nav > div {
		height: 100%;
		padding: 0px;
	}

	nav .nav-menu {
		display: none;
	}

	nav .sm-nav-menu {
		position: absolute;
		left: 0;
		height: 360px;
		width: 100%;
		background-color: rgba(181, 57, 105, 0.9);
	}

	nav .sm-nav-menu ul {
		margin: 60px 0px;
		padding: 0px;
	}

	nav .sm-nav-menu ul li {
		display: block;
		margin: 30px;
		text-align: center;
	}

	nav .sm-nav-menu ul li a {
		color: #ffffff;
	}

	nav .sm-menu, nav .sm-menu-close {
		display: block;
	}
}

.content {
	padding: 0px 50px;
}

#home .background-sm {
	display: none;
}

#home .background,#home .background-sm {
	width: 100%;
	height: auto;
}

#home .content {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
}

@media (max-width: 991px) {
	#home .background {
		display: none;
	}

	#home .background-sm {
		display: block;
	}
}

#SF2017 .info, #SF2017 .when-where {
	display: inline-block;
}

#SF2017 .info {
	width: 59%;
}

#SF2017 .when-where {
	width: 39%;
}

#about .about-card {
	display: inline-block;
	width: 20%
	height: auto;
}

#testimonials .carousel-control {
	background: none !important;
}

#testimonials-carousel {
	height: 400px;
	text-align: center;
}









































